@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout-Container.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-9">
                    <h4>iTRACK-1373  Lorem Ipsum Nedir?  </h4>
                </div>
                <div class="col-lg-3">
                    <div class="btn-group pull-right" role="group" aria-label="...">

                    </div>
                </div>
            </div>
            <div>
                <sub>Created by Şevkey Yılmaz 25 Aug 2016 15:15 Updated by Murat Çelik 30 Nov 2016 12:26</sub>
            </div>

            <hr style="margin:10px;" />

            <div class="panel">
                <div class="panel-body">
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
                    Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 196
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#comments">Comments</a> </li>
                <li><a data-toggle="tab" href="#history">History</a></li>
            </ul>

            <div class="tab-content">
                <div id="comments" class="tab-pane fade in active">
                    <div class="bs-example" data-example-id="default-media">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="http://placehold.it/32x32" data-holder-rendered="true" style="width: 32px; height: 32px;">
                                </a>
                            </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
                        </div>
                        <hr />
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="http://placehold.it/32x32" data-holder-rendered="true" style="width: 32px; height: 32px;">
                                </a>
                            </div> <div class="media-body"> <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
                        </div>
                    </div>
                </div>
                <div id="history" class="tab-pane">
                    asasd
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
            <hr style="margin:10px;" />
            <div class="panel panel-default">
                <div class="panel-heading">heading </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>the Bird</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>the Bird</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>the Bird</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Watcher
                </div>
                <table class="table">
                    <tbody>
                        <tr> <th>First Name</th></tr>
                        <tr> <th>First Name</th></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
