body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

i {
    cursor: pointer;
}

a {
    color: #3A5796;
}

/*Bootsrap Class Start*/
.navbar {
    min-height: 40px;
    background-color: #143046;
    border-radius: 0px;
    border: 0px;
}

.navbar-nav > li > a {
    line-height: 10px;
    min-height: 40px;
    color: #fff !important;
}

.navbar-brand {
    float: left;
    height: 40px !important;
    padding: 10px 15px;
}

.navbar-toggle {
    padding: 6px 10px;
}

.panel {
    border-radius: 0px;
    border:1px solid #ddd;
}
.list-group-item:last-child {
    border-radius:0px;
}
.list-group-item:first-child {
      border-radius:0px;
}

.tab-content {
    border:1px solid #ddd !important;
    border-top:0px !important;
    padding:10px;
    background-color:#fff;
}
/*Bootsrap Class Finished*/

.issue-tracker-panel-heading {
    background-color:#143046 !important;
    color:#fff;
     border-radius: 0px;
     border-bottom: 1px solid transparent;
}