@model IssueTracker.Models.Issue

<div id="modals" class="row">
    <!--change-column-modal-->
    <div id="change-column-modal" class="modal fade" role="dialog" aria-labelledby="change-column-modal" style="padding-right: 0px !important; ">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="team-modal-label">Change Column</h4>
                </div>
                <div class="modal-body">
                    <form id="change-column-modal-form" method="post">
                        <div class="form-group row">
                            <label class="col-xs-2 col-form-label">State</label>
                            <div class="col-xs-10">
                                <select id="ColumnID" name="ColumnID" class="form-control">
                                </select>
                            </div>
                        </div>
                        <input id="IssueID" name="IssueID" type="hidden" value="@Model.ID" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="ChangeColumn($('#IssueID').val(), $('#ColumnID').val())">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--change-column-modal-->
    <!--change-priority-modal-->
    <div id="change-priority-modal" class="modal fade" role="dialog" aria-labelledby="change-priority-modal" style="padding-right: 0px !important; ">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="priority-modal-label">Change Priority</h4>
                </div>
                <div class="modal-body">
                    <form id="change-column-modal-form" method="post">
                        <div class="form-group row">
                            <label class="col-xs-2 col-form-label">Priority</label>
                            <div class="col-xs-10">
                                <select id="PriorityID" name="PriorityID" class="form-control"></select>
                            </div>
                        </div>
                        <input id="IssueID" name="IssueID" type="hidden" value="@Model.ID" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="ChangePriority($('#IssueID').val(), $('#PriorityID').val())">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--change-priority-modal-->

    <!--change-type-modal-->
    <div id="change-type-modal" class="modal fade" role="dialog" aria-labelledby="change-type-modal" style="padding-right: 0px !important; ">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="type-modal-label">Change Type</h4>
                </div>
                <div class="modal-body">
                    <form id="change-column-modal-form" method="post">
                        <div class="form-group row">
                            <label class="col-xs-2 col-form-label">Type</label>
                            <div class="col-xs-10">
                                <select id="TypeID" name="TypeID" class="form-control"></select>
                            </div>
                        </div>
                        <input id="IssueID" name="IssueID" type="hidden" value="@Model.ID" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="ChangeType($('#IssueID').val(), $('#TypeID').val())">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--change-type-modal-->
</div>