@model List<IssueTracker.Models.Team>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button id="mybutton" onclick="getMyJson()">Murat</button>
@foreach (var item in Model)
{
    <h1>@item.Name</h1>
    <h2>@item.UserCreated.Firstname</h2>
    <h2>@item.UserUpdated.Firstname</h2>
}


<script type="text/javascript">

    function getMyJson() {
        $.ajax(
            {
                type: 'POST',
                url: "/home/me",
                dataType: 'JSON',
                success: function (result)
                {
                    console.log(result);
                }
            }
        );

    }


</script>
